@model EventDetailsAdminSM


@{
    ViewData["Title"] = "Details";
}


@if (Model.IsReservationConfirmed)
{
    <p class="bg-success text-center"><b>Reservation &numero; @Model.Id is confirmed</b></p>
}
else
{
    <p class="bg-warning text-center" style="color:red"><b>Reservation &numero; @Model.Id is NOT Confirmed</b></p>
}
@{
    var routeValue = new Dictionary<string, string> { ["id"] = Model.Id.ToString() };
}

<div class="row">
    <div class="col-md-4">
        @if (Model.IsReservationConfirmed)
        {
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Disconfirm Event</button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Event &numero; @Model.Id</h4>
                        </div>

                        <div class="modal-body">
                            <p>Are you sure you want to disconfirm this reservation?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="DisconfirmEvent(@Model.Id)">Disonfirm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Confirm Event</button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Event &numero; @Model.Id</h4>
                        </div>

                        <div class="modal-body">
                            <p>Are you sure you want to confirm this reservation?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="ConfirmEvent(@Model.Id)">Confirm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <a  asp-area="Admin" asp-controller="Events" asp-action="Edit" asp-all-route-data="routeValue" class="btn btn-sm btn-warning">Edit Event</a>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal2">Delete Event</button>
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Event &numero; @Model.Id</h4>
                        </div>

                        <div class="modal-body">
                            <p>Are you sure you want to Delete this reservation?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="DeleteEvent(@Model.Id)">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        @if (Model.IsReservationConfirmed == false)
        {
            foreach (var notification in Model.EventNotifications)
            {
                <div class="alert alert-danger">
                    <strong>Reservation on the same day: </strong>
                    Hall: @notification.HallName  | Time: @notification.RentTime |
                    <a href="@notification.Id" class="alert-link">Event &numero; @notification.Id</a>
                    | Name: @notification.FullName
                    |  @if (notification.IsReservationConfirmed)
                    {
                        <b>Confirmed</b>
                    }
                    else
                    {
                        <b>Not Confirmed</b>

                    }
                </div>
            }
        }

    </div>


</div>

<div class="panel event-panel-card eventDetails">
    <div class="panel-body">
        <div class="event-details-personal-info">
            <div class="event-details-personal-info-title">
                Personal information
            </div>
            <hr />
            <div class="event-details-personal-info-content">
                <p><b>Name: </b>@Model.FullName</p>
                <p><b>Email: </b>@Model.Email</p>
                <p><b>Phone Number: </b>@Model.PhoneNumber</p>
                <p><b>UserName: </b>@Model.UserName</p>
            </div>
        </div>
        <div class="row event-details-row">
            <div class="col-md-6 event-details-box">
                <div class="event-details-box-title">
                    Event information
                </div>
                <hr />
                <div class="event-details-box-content">
                    <p><b>Event date: </b> @Model.EventDate</p>
                    <p><b>Hall: </b> @Model.HallName</p>
                    <p><b>Rent Time: </b> @Model.RentTimeDisplay</p>
                    <p><b>Number of people: </b> @Model.NumberOfPeople</p>
                    <hr />
                    <p><b>Event Start: </b> @Model.EventStart</p>
                    <p><b>Event End: </b> @Model.EventEnd</p>
                    <hr />
                    <p><b>Evetn Title:</b></p>
                    <p>@Model.EventTitle</p>
                    <p><b>Description:</b></p>
                    @if (Model.Description == null)
                    {
                        <p>No description</p>
                    }
                    else
                    {
                        <p>@Model.Description</p>
                    }
                    <p><b>Caterer:</b></p>
                    @if (Model.Caterer == null)
                    {
                        <p>No caterer</p>
                    }
                    else
                    {
                        <p>@Model.Caterer</p>
                    }
                </div>
            </div>
            <div class="col-md-6 event-details-box">
                <div class="event-details-box-title">
                    Price information
                </div>
                <hr />
                <div class="event-details-box-content">
                    <p><b>Hall Rental price: </b>$@Model.HallRentalPrice.ToString("F")</p>
                    <p><b>Tables and chairs price: </b>$@Model.TablesAndChairsPrice.ToString("F")</p>
                    @if (Model.UsingTablesAndChairs)
                    {
                        <div class="event-details-box-content-details">
                            <div>Tables and chairs cost per person: $@Model.TablesAndChairsCostPerPerson</div>
                            <div>Number of people: @Model.NumberOfPeople</div>
                        </div>

                    }
                    <p><b>Parking Lot Security Price </b>$@Model.ParkingLotSecurityPrice.ToString("F")</p>
                    @if (Model.ParkingLotSecurityService)
                    {

                        <div class="event-details-box-content-details">
                            <div>Parking Lot Security Hours: @Model.ParkingLotSecurityHours</div>
                            <div>Security service cost per hour: $@Model.SecurityGuardCostPerHour.ToString("F")</div>
                            <div>Security Start Time: @Model.SecurityStartTime</div>
                            <div>Security End Time: @Model.SecurityEndTime</div>
                        </div>
                    }
                    <p><b> Security Deposit </b>$@Model.SecurityDeposit.ToString("F")</p>
                    <hr />
                    <div class="event-details-box-content-totalPrice">
                        <h4><b>Total Price: </b>$@Model.TotalPrice.ToString("F")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function ConfirmEvent(id) {
        window.location.href = `/admin/events/ConfirmEvent/${id}`;
    }

    function DisconfirmEvent(id) {
        window.location.href = `/admin/events/DisconfirmEvent/${id}`;

    }

    function DeleteEvent(id) {
        window.location.href = `/admin/events/DeleteEvent/${id}`;
    }

</script>
