<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HallRental.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/w3css/w3.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/w3css/w3.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>



    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">HallRental.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@

                    <li><a asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a></li>
                    <li><a asp-area="" asp-controller="Events" asp-action="DateCheck">Book a Hall</a></li>

                    @if (User.IsInRole(GlobalConstants.AdminRole))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Administration Area
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="Admin" asp-controller="Events" asp-action="EventRequests">Event Requests</a></li>
                                <li><a asp-area="Admin" asp-controller="Events" asp-action="ConfirmedEvents">Confirmed Events</a></li>
                                <li><a asp-area="Admin" asp-controller="Events" asp-action="PastEvents">Past Events</a></li>
                                <li><a asp-area="Admin" asp-controller="Halls" asp-action="Index">Halls Management</a></li>
                                <li><a asp-area="Admin" asp-controller="Identity" asp-action="All">Users Management</a></li>
                                <li><a asp-area="Admin" asp-controller="Contracts" asp-action="Index">Contracts Management</a></li>

                            </ul>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    @*<partial name="_CookieConsentPartial" />*@
    <div class="container body-content">


        @if (User.IsInRole(GlobalConstants.AdminRole))
        {
            <div id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center">Administration Area</a>


                        </li>
                        <li><a asp-area="Admin" asp-controller="Events" class="w3-btn @Url.IsLinkActive("Events", "EventRequests")" asp-action="EventRequests">Event Requests</a></li>
                        <li><a asp-area="Admin" asp-controller="Events" class="w3-btn @Url.IsLinkActive("Events", "ConfirmedEvents")" asp-action="ConfirmedEvents">Confirmed Events</a></li>
                        <li><a asp-area="Admin" asp-controller="Events" class="w3-btn @Url.IsLinkActive("Events", "PastEvents")" asp-action="PastEvents">Past Events</a></li>
                        <li><a asp-area="Admin" asp-controller="Halls" class="w3-btn @Url.IsLinkActive("Halls", "Index")" asp-action="Index">Halls Management</a></li>
                        <li><a asp-area="Admin" asp-controller="Identity" class="w3-btn @Url.IsLinkActive("Identity", "All")" asp-action="All">Users Management</a></li>
                        <li><a asp-area="Admin" asp-controller="Contracts" class="w3-btn @Url.IsLinkActive("Contracts", "Index")" asp-action="Index">Contracts Management</a></li>

                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                @if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
                                {
                                    <div class="alert alert-success alert-dismissible fade in">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        @TempData[GlobalConstants.TempDataSuccessMessageKey]
                                    </div>
                                }
                                @if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
                                {
                                    <div class="alert alert-danger alert-dismissible fade in">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        @TempData[GlobalConstants.TempDataErrorMessageKey]
                                    </div>
                                }
                                <!-- ------------ -->
                                @RenderBody()

                                <!-- ------------ -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
        }
        else
        {
            @if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
            {
                <div class="alert alert-success alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @TempData[GlobalConstants.TempDataSuccessMessageKey]
                </div>
            }
            @if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
            {
                <div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @TempData[GlobalConstants.TempDataErrorMessageKey]
                </div>
            }
            @RenderBody()
        }


    </div>
    <div class="footer">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="footer-grid">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div class="footer-grid">
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-grid">
                        <a asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a>
                    </div>
                    <div class="footer-grid">
                        <a asp-area="" asp-controller="Home" asp-action="Gallery">Gallery</a>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="footer-grid">
                    <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms and Conditions</a>
                </div>
                <div class="footer-grid">
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </div>
            </div>
            </div>

            <div class="copyright">
                <p>&copy; 2018 - HallRental.Web</p>
            </div>
        </div>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
