@model EventInfoAndPriceCheckViewModel

@{
    ViewData["Title"] = "PriceCheck";
}

<h2>Event Info and Price Check</h2>

<hr />
<h4><b>Hall: </b>@Model.HallName</h4>
<h4><b>Date: </b>@Model.Date.ToShortDateString()</h4>
<h4><b>Time: </b>@Model.RentTimeDisplay</h4>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Summary" id="submitForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="HallId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="RentTime" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="SecurityGuardCostPerHour" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input id="HallRentPriceInput" asp-for="HallRentalPrice" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input id="TablesAndChairsPriceInput" asp-for="TablesAndChairsPrice" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input id="SecurityPriceInput" asp-for="SecurityPrice" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input id="PriceInput" asp-for="TotalPrice" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="EventTitle" class="control-label"></label>
                <input asp-for="EventTitle" class="form-control" />
                <span asp-validation-for="EventTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStart" class="control-label"></label>
                <input asp-for="EventStart" class="form-control" />
                <span asp-validation-for="EventStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEnd" class="control-label"></label>
                <input asp-for="EventEnd" class="form-control" />
                <span asp-validation-for="EventEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeople" class="control-label"></label>
                <input id="NumberOfPeople" asp-for="NumberOfPeople" class="form-control" />
                <span id="NumberOfPeople-error" style="color: #a94442"></span>
                <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="UseTablesAndChairs" asp-for="UseTablesAndChairs" /> @Html.DisplayNameFor(model => model.UseTablesAndChairs)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SecurityGuards" class="control-label"></label>
                <input id="SecurityGuards" asp-for="SecurityGuards" class="form-control" />
                <span asp-validation-for="SecurityGuards" class="text-danger"></span>
                <span id="SecurityGuards-error" style="color: #a94442"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityServiceHoursPerGuard" class="control-label"></label>
                <input id="SecServiceHoursPerGuard" asp-for="SecurityServiceHoursPerGuard" class="form-control" />
                <span asp-validation-for="SecurityServiceHoursPerGuard" class="text-danger"></span>
                <span id="SecServiceHours-error" style="color: #a94442"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div id="testPrice" class="col-md-4">
    </div>
    <div id="refTable" class="col-md-4">
        @Html.Partial("_PartialPrice", Model.EventPriceModel)
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>


        $(document).ready(function () {
            console.log('ready')


            let tablesAndChairsPrice = 0;
            let securityPrice = 0;

            let startPrice = @Model.TotalPrice

            let totalPrice = @Model.TotalPrice;
            let chairCostPerPerson = @Model.ChairTableCostPerPerson;
            let hallCapacity = @Model.HallCapacity;

            let securityGuardCostPerHour = @Model.SecurityGuardCostPerHour;

            let correctDataTabAndCh = true;
            let correctDataSecurity = true;

            //Table and Chairs Price Calcualtion

            $('#UseTablesAndChairs').change(function () {
                let numberOfPeople = $('#NumberOfPeople').val()

                if (numberOfPeople > hallCapacity) {
                    $('#NumberOfPeople-error').text(`The Hall capacity is ${hallCapacity} people`)
                    correctDataTabAndCh = false;
                    return;
                } else {
                    $('#NumberOfPeople-error').text("")
                    correctDataTabAndCh = true;

                }

                if ($(this).prop('checked')) {


                    if (numberOfPeople < 1) {
                        $('#NumberOfPeople-error').text("Please e mark the number of people")
                    }
                    console.log('checkbox  - checked ')
                    tablesAndChairsPrice = numberOfPeople * chairCostPerPerson;

                        totalPrice = startPrice + tablesAndChairsPrice + securityPrice;

                    UpdatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice)


                }
                else {
                    console.log('UseTablesAndChairs checkbox  - not checked')
                    tablesAndChairsPrice = 0;

                    totalPrice = startPrice + tablesAndChairsPrice + securityPrice;

                    UpdatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice)

                }
            })

            $('#NumberOfPeople').change(function () {
                let numberOfPeople = $('#NumberOfPeople').val()

                if (numberOfPeople > hallCapacity) {
                    $('#NumberOfPeople-error').text(`The Hall capacity is ${hallCapacity} people`)
                    tablesAndChairsPrice = 0;
                    correctDataTabAndCh = false;
                    return;
                } else {
                    $('#NumberOfPeople-error').text("")
                    correctDataTabAndCh = true;
                }

                if ($('#UseTablesAndChairs').prop('checked')) {

                    if (numberOfPeople < 1) {
                        $('#NumberOfPeople-error').text("Please e mark the number of people")
                        return;
                    } else {
                        $('#NumberOfPeople-error').text("")

                    }

                    //console.log('UseTablesAndChairs checkbox  - checked')
                    tablesAndChairsPrice = numberOfPeople * chairCostPerPerson;

                    totalPrice = startPrice + tablesAndChairsPrice + securityPrice;
                    UpdatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice)


                }

            })


            //Security Price Calcualtion


            $('#SecurityGuards').change(() => {
                let securityGuards = $('#SecurityGuards').val();
                let secHoursPerGuard = $('#SecServiceHoursPerGuard').val();

                if (securityGuards == 0 && secHoursPerGuard == 0) {
                    securityPrice = 0;
                    $('#SecurityGuards-error').text('');
                    $('#SecServiceHours-error').text('');
                    correctDataSecurity = true;
                }
               
                //console.log(securityPrice)

                if (securityGuards == 0) {
                    securityPrice = 0;
                    if (secHoursPerGuard != 0) {
                        $('#SecurityGuards-error').text('Please e fill the security guards Input');
                        correctDataSecurity = false;
                        return;
                    }
                } else {
                    $('#SecurityGuards-error').text('');
                    if (secHoursPerGuard == 0) {
                        securityPrice = 0
                       // console.log('here')
                        $('#SecServiceHours-error').text('Please e fill the security hours per guard Input');
                        correctDataSecurity = false;
                        return;
                    } 
                    correctDataSecurity = true;
                }

                securityPrice = securityGuards * secHoursPerGuard * securityGuardCostPerHour

                totalPrice = startPrice + tablesAndChairsPrice + securityPrice;

                UpdatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice)


            })


            $('#SecServiceHoursPerGuard').change(() => {
                let securityGuards = $('#SecurityGuards').val();
                let secHoursPerGuard = $('#SecServiceHoursPerGuard').val();

                if (securityGuards == 0 && secHoursPerGuard == 0) {
                    securityPrice = 0;
                    $('#SecurityGuards-error').text('');
                    $('#SecServiceHours-error').text('');
                    correctDataSecurity = true;
                }


                if (secHoursPerGuard == 0) {
                    securityPrice = 0;
                    if (securityGuards != 0) {
                        $('#SecServiceHours-error').text('Please e fill the security hours per guard Input');
                        correctDataSecurity = false;
                        securityPrice = 0;
                        return;
                    } 

                } else {
                    console.log('anothe here')
                    $('#SecServiceHours-error').text('');
                    if (securityGuards <= 0) {
                        securityPrice = 0
                        $('#SecurityGuards-error').text('Please e fill the security guards Input');
                        correctDataSecurity = false;
                        return;
                    }
                    correctDataSecurity = true
                }



                securityPrice = securityGuards * secHoursPerGuard * securityGuardCostPerHour

                totalPrice = startPrice + tablesAndChairsPrice + securityPrice;

                UpdatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice)

            })


            //submit button

            $("#submitForm").submit(function (e) { 
                console.log('correctSecData: ' + correctDataSecurity)
                console.log('correctTabData: ' + correctDataTabAndCh) 
                if (correctDataSecurity == false || correctDataTabAndCh == false) 
                {
                    e.preventDefault(); 
                }
            })



    });



    function UpdatePriceModelAndPartialView(totalPrice, secuPrice, tabAndChairsPrice) {

        $('#PriceInput').val(totalPrice)
        $('#TablesAndChairsPriceInput').val(tabAndChairsPrice)
        $('#SecurityPriceInput').val(secuPrice)


            $.ajax({
                type: "Post",
                url: "/Events/UpdatePriceView",
                data: {
                    HallPrice : @Model.HallRentalPrice,
                    TotalPrice: totalPrice,
                    SecurityPrice: secuPrice,
                    TablesAndChairsPrice : tabAndChairsPrice

                },
                success: function (data) {
                    partialViewResult(data)
                },
                error: function (error) {
                    alert('failed');
                }
            })

        }


        function partialViewResult(data) {
           // $('#PriceInput').val(data.TotalPrice);
            $("#refTable").html(data);

        }


</script>
}
