@model EventInfoAndPriceCheckViewModel

@{
    ViewData["Title"] = "PriceCheck";
}


<div class="row page-content">
    <div class="col-md-6">
        <div class="w3-card-4 w3-round w3-light-grey input-card-panel">
            <div class="w3-container form-title w3-dark-gray">
                <h2 class="form-title-text">Price Calculation</h2>
            </div>
            <div class="w3-container panel-form-body">
                @{await Html.RenderPartialAsync("_PriceCheckFormPartial", Model);}
            </div>
        </div>
    </div>


    <div class="col-md-6 event-side-info">
        <p>Hall: <b>@Model.HallName</b></p>
        <p>Date: <b>@Model.Date.ToShortDateString()</b></p>
        <p>Rent Time: <b>@Model.RentTimeDisplay</b></p>
        <div id="refTable" class="price-side-info">
            @await Html.PartialAsync("_PartialPrice", Model.EventPriceModel)
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/calendar/moment.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

            var tablesAndChairsPrice;
            var securityPrice;

            var startPrice;

            var totalPrice;
            var chairCostPerPerson;
            var hallCapacity;

            var securityGuardCostPerHour;

            var correctDataTabAndCh;
            var correctDataSecurity;
            var correctDataEventTime;

            //Models
            var rentStartDateTimeModel;
            var rentEndDateTimeModel;

        $(document).ready(function () {
            console.log('ready')

             tablesAndChairsPrice = 0;
             securityPrice = 0;

             startPrice = @Model.HallRentalPrice;

             totalPrice = @Model.TotalPrice;
             chairCostPerPerson = @Model.TablesAndChairsCostPerPerson;
             hallCapacity = @Model.HallCapacity;

             securityGuardCostPerHour = @Model.SecurityCostPerHour;

             correctDataTabAndCh = true;
             correctDataSecurity = true;
             correctDataEventTime = true;


            //Models
             rentStartDateTimeModel = '@(Model.EventStart)';
             rentEndDateTimeModel = '@(Model.EventEnd)';

            //Tables and chairs checkbox
            if ($('#ParkingLotSecurity-checkbox').prop('checked')) {
                calculateParkingLotSecurityPrice();
            }

            //Parking Lot Security checkbox
            if ($('#ParkingLotSecurity-checkbox').prop('checked')) {
                calculateTablesAndChairsPrice();
            }


        });



            //Event Start-End Time

            $('#EventStartTime').change(function () {

                correctDataEventTime = checkIfEventDataIsCorrect();
                console.log('EventStartTime '  + correctDataEventTime)
            })


            $('#EventEndTime').change(function () {

                correctDataEventTime = checkIfEventDataIsCorrect();
                console.log('EventEndTime ' + correctDataEventTime)

            });



            function checkIfEventDataIsCorrect() {

                //Input Event Start
                var inputEventStartTimeVal = moment($("#EventStartTime").val(), moment.ISO_8601);
                var inputEventStartTime = new Date(inputEventStartTimeVal)
                console.log('inputStartTime - ' + inputEventStartTime)


                //Input Event End
                var inputEventEndTimeVal = moment($("#EventEndTime").val(), moment.ISO_8601);
                var inputEventEndTime = new Date(inputEventEndTimeVal)
                console.log('inputEventEndTime - ' + inputEventEndTime)


                //Rent Start Time
                var rentStartDateTime = new Date(rentStartDateTimeModel);
                console.log('rentStartDateTime - ' + rentStartDateTime)


                //Rent End Time
                var rentEndDateTime = new Date(rentEndDateTimeModel);
                console.log('rentEndDateTime - ' + rentEndDateTime)


                console.log('---------------------------')

                if (isValidDate(inputEventStartTime) == false) {
                    $('#EventStartTime-error').text('Invalid Date');
                    return false;
                }

                if (isValidDate(inputEventEndTime) == false) {
                    $('#EventEndTime-error').text('Invalid Date');
                    return false;
                }

                if (inputEventEndTime < rentStartDateTime) {
                    $('#EventEndTime-error').text('Event End Time cannot be before Rent Start Time');
                    return false;
                } else {
                    $('#EventEndTime-error').text('');
                }

                if (inputEventEndTime > rentEndDateTime) {
                    $('#EventEndTime-error').text('Event End Time cannot be after Rent End Time');
                    return false;
                } else {
                    $('#EventEndTime-error').text('');
                }

                if (inputEventStartTime < rentStartDateTime) {
                    $('#EventStartTime-error').text('Event Start Time cannot be before Rent Start Time');
                    return false;
                } else {
                    $('#EventStartTime-error').text('');
                }
                if (inputEventStartTime > rentEndDateTime) {
                    $('#EventStartTime-error').text('Event Start Time cannot be after Rent End Time');
                    return false;
                } else {
                    $('#EventStartTime-error').text('');
                }

                if (inputEventStartTime.setHours(0, 0, 0, 0) != rentStartDateTime.setHours(0, 0, 0, 0)) {
                    $('#EventStartTime-error').text('Event Date cannot be different from Rent Date');
                    return false;
                } else {
                    $('#EventStartTime-error').text('');
                }

                return true;
            }



            //Table and Chairs Price Calcualtion
            $('#UseTablesAndChairs-checkbox').change(function () {
                calculateTablesAndChairsPrice();
            })

            function calculateTablesAndChairsPrice(){
                var numberOfPeople = $('#NumberOfPeople').val()

                if (numberOfPeople > hallCapacity) {
                    $('#NumberOfPeople-error').text('The Hall capacity is ' +  hallCapacity + ' people' )
                    correctDataTabAndCh = false;
                    return;
                } else {
                    $('#NumberOfPeople-error').text("")
                    correctDataTabAndCh = true;
                }

                if ($('#UseTablesAndChairs-checkbox').prop('checked')) {

                    if (numberOfPeople < 1) {
                        $('#NumberOfPeople-error').text("Please e mark the number of people")
                    }
                    console.log('checkbox  - checked ')
                    tablesAndChairsPrice = numberOfPeople * chairCostPerPerson;

                    totalPrice = startPrice + tablesAndChairsPrice + securityPrice;
                }
                else {
                    console.log('UseTablesAndChairs checkbox  - not checked')
                    tablesAndChairsPrice = 0;

                    totalPrice = startPrice + tablesAndChairsPrice + securityPrice;
                }

                var parkLotSecHours = checkDifference();
                updatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice, parkLotSecHours)
            }


            $('#NumberOfPeople').change(function () {
                var numberOfPeople = $('#NumberOfPeople').val()

                if (numberOfPeople > hallCapacity) {
                    $('#NumberOfPeople-error').text('The Hall capacity is ' + hallCapacity + ' people')
                    tablesAndChairsPrice = 0;
                    correctDataTabAndCh = false;
                    return;
                } else {
                    $('#NumberOfPeople-error').text("")
                    correctDataTabAndCh = true;
                }

                if ($('#UseTablesAndChairs-checkbox').prop('checked')) {

                    if (numberOfPeople < 1) {
                        $('#NumberOfPeople-error').text("Please e mark the number of people")
                        return;
                    } else {
                        $('#NumberOfPeople-error').text("")
                    }

                    tablesAndChairsPrice = numberOfPeople * chairCostPerPerson;

                    totalPrice = startPrice + tablesAndChairsPrice + securityPrice;
                    var parkLotSecHours = checkDifference();
                    updatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice, parkLotSecHours)
                }
            })




            //ParkingLotSecurity

            $('#ParkingLotSecurity-checkbox').change(function () {

                calculateParkingLotSecurityPrice();
            })

            function calculateParkingLotSecurityPrice() {

                if ($('#ParkingLotSecurity-checkbox').prop('checked')) {

                    $('#SecurityLot-inputs').show();
                    console.log('ParkingLotSecurity - checked')

                } else {
                    console.log('ParkingLotSecurity - NOT checked')
                    $('#SecurityLot-inputs').hide();
                    correctDataSecurity = true;
                    updateSecurityPrice(0)
                    return;
                }

                var isDateCorrect = checkIfSecurityDataIsCorrect();

                console.log(isDateCorrect);

                if (isDateCorrect == false) {
                    correctDataSecurity = false;
                    return;
                }

                correctDataSecurity = true;
                var hoursDiff = checkDifference();

                updateSecurityPrice(hoursDiff);
            }


            $("#ParkLotSecStart").change(function () {

                var isDateCorrect = checkIfSecurityDataIsCorrect();
                console.log(isDateCorrect);

                if (isDateCorrect == false) {
                    correctDataSecurity = false;
                    return;
                }

                correctDataSecurity = true;

                var hoursDiff = checkDifference();

                updateSecurityPrice(hoursDiff);
            });

            $("#ParkLotSecEnd").change(function () {

                var isDateCorrect = checkIfSecurityDataIsCorrect();

                console.log(isDateCorrect);
                if (isDateCorrect == false) {
                    correctDataSecurity = false;
                    return;
                }

                correctDataSecurity = true;
                var hoursDiff = checkDifference();

                updateSecurityPrice(hoursDiff);
            });


            function checkIfSecurityDataIsCorrect() {
                //var parkLotSecStartTimeValue = $("#ParkLotSecStart").val();
                //var parkLotSecEndTimeValue = $("#ParkLotSecEnd").val();


                var momentparkLotSecStartTime = moment($("#ParkLotSecStart").val(), moment.ISO_8601);
                var momentparkLotSecEndTime = moment($("#ParkLotSecEnd").val(), moment.ISO_8601);
                console.log("moment - " + momentparkLotSecStartTime)

                var parkLotSecStartTime = new Date(momentparkLotSecStartTime)
                var parkLotSecEndTime = new Date(momentparkLotSecEndTime)

                //Models Date
                var eventStartDate = new Date(rentStartDateTimeModel);

                var eventEnd2hoursAfterRentEndTime = new Date(rentEndDateTimeModel)
                eventEnd2hoursAfterRentEndTime.setHours(eventEnd2hoursAfterRentEndTime.getHours() + 2);
                console.log('eventEnd2hoursAfterRentEndTime' + eventEnd2hoursAfterRentEndTime);


                if (isValidDate(parkLotSecStartTime) == false) {
                    $('#ParkLotSecStart-error').text('Invalid Date');
                    return false;
                }

                if (isValidDate(parkLotSecEndTime) == false) {
                    $('#ParkLotSecEnd-error').text('Invalid Date');
                    return false;
                }


                if (parkLotSecEndTime <= eventStartDate) {
                    $('#ParkLotSecEnd-error').text('Security End DateTime cannot be before Rent Start DateTime');
                    return false;
                } else {
                    $('#ParkLotSecEnd-error').text('');
                }

                if (parkLotSecEndTime <= parkLotSecStartTime) {
                    if (parkLotSecStartTime > eventStartDate) {
                        $('#ParkLotSecStart-error').text('Security Start DateTime cannot be after Rent Start DateTime');
                    } else {
                        $('#ParkLotSecStart-error').text('');
                    }

                    $('#ParkLotSecEnd-error').text('Security End Time cannot be before Security Start Time');
                    return false;
                } else {
                    $('#ParkLotSecEnd-error').text('');
                }

                if (parkLotSecEndTime > eventEnd2hoursAfterRentEndTime) {
                    $('#ParkLotSecEnd-error').text('Security End Time cannot be more than 2 hours after Rent End Time');
                    return false;
                } else {
                    $('#ParkLotSecEnd-error').text('');
                }

                if (parkLotSecStartTime < eventStartDate) {
                    $('#ParkLotSecStart-error').text('Security Start DateTime cannot be before Rent Start DateTime');
                    return false;
                } else {
                    $('#ParkLotSecStart-error').text('');
                }

                if (parkLotSecStartTime.setHours(0, 0, 0, 0) != eventStartDate.setHours(0, 0, 0, 0)) {
                    $('#ParkLotSecStart-error').text('Parking Lot Security Date cannot be different from Event Date');
                    return false;
                } else {
                    $('#ParkLotSecStart-error').text('');
                }

                return true;
            }


            function checkDifference() {
                var parkLotSecStartTimeValue = moment($("#ParkLotSecStart").val(), moment.ISO_8601);
                var parkLotSecEndTimeValue = moment($("#ParkLotSecEnd").val(), moment.ISO_8601);

                var parkLotSecStartTime = new Date(parkLotSecStartTimeValue)
                var parkLotSecEndTime = new Date(parkLotSecEndTimeValue)

                var hoursDiff = Math.abs(parkLotSecEndTime - parkLotSecStartTime) / 36e5;

                hoursDiff = Math.ceil(hoursDiff);

                console.log('Sec start - ' + parkLotSecStartTime);
                console.log('Sec end - ' + parkLotSecEndTime);
                console.log('Parking Lot Security hours - ' + hoursDiff);

                return hoursDiff;
            }

            function updateSecurityPrice(hoursDiff) {
                if (isNaN(hoursDiff)) {
                    hoursDiff = 0;
                }


                if ($('#ParkingLotSecurity-checkbox').prop('checked')) {

                    //Check if hours are less than 4
                    if (hoursDiff < 4) {
                        $('#ParkLotSecurity-error').text('Parking Lot Security hours cannot be less than 4')
                        console.log('Parking Lot Security hours cannot be less than 4')
                        correctDataSecurity = false;
                        return;
                    } else {
                        $('#ParkLotSecurity-error').text('')
                    }

                    securityPrice = hoursDiff * securityGuardCostPerHour;

                }else {
                    securityPrice = 0;
                    correctDataSecurity = true;
                }

                $('#parkingLotSecurityHours').val(hoursDiff);

                totalPrice = startPrice + tablesAndChairsPrice + securityPrice;

                updatePriceModelAndPartialView(totalPrice, securityPrice, tablesAndChairsPrice, hoursDiff)
            }


            function isValidDate(date) {
                return date && Object.prototype.toString.call(date) === "[object Date]" && !isNaN(date);
            }


            //submit button

            $("#submitForm").submit(function (e) {
                console.log('correctSecData: ' + correctDataSecurity)
                console.log('correctTabData: ' + correctDataTabAndCh)
                console.log('correctEventTimeData: ' + correctDataEventTime)
                if (correctDataSecurity == false
                    || correctDataTabAndCh == false
                    || correctDataEventTime ==false)
                {
                    e.preventDefault();
                }
            })


    function updatePriceModelAndPartialView(totalPrice, securityPrice, tabAndChairsPrice, parkLotSecHours) {

        $('#PriceInput').val(totalPrice)
        $('#TablesAndChairsPriceInput').val(tabAndChairsPrice)
        $('#SecurityPriceInput').val(securityPrice)

            $.ajax({
                type: "Post",
                url: "/Events/UpdatePriceView",
                data: {
                    HallPrice : @Model.HallRentalPrice,
                    TotalPrice: totalPrice,
                    SecurityPrice: securityPrice,
                    TablesAndChairsPrice: tabAndChairsPrice,
                    ParkingLotSecurityHours: parkLotSecHours,
                },
                success: function (data) {
                    partialViewResult(data)
                },
                error: function (error) {
                    alert('failed');
                    console.log(error)
                }
            })
        }


        function partialViewResult(data) {
            $("#refTable").html(data);

        }

    </script>
}
