@model EventInfoAndPriceCheckViewModel

@{
    ViewData["Title"] = "PriceCheck";
}

<h2>Event Info and Price Check</h2>

<hr />
<h4><b>Hall: </b>@Model.HallName</h4>
<h4><b>Date: </b>@Model.Date.ToShortDateString()</h4>
<h4><b>Time: </b>@Model.RentTimeDisplay</h4>

<div class="row">
    <div class="col-md-4">

        <form asp-action="PersonalInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="HallId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="RentTime" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input id="PriceInput" asp-for="Price" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="EventTitle" class="control-label"></label>
                <input asp-for="EventTitle" class="form-control" />
                <span asp-validation-for="EventTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStart" class="control-label"></label>
                <input asp-for="EventStart" class="form-control" />
                <span asp-validation-for="EventStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEnd" class="control-label"></label>
                <input asp-for="EventEnd" class="form-control" />
                <span asp-validation-for="EventEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeople" class="control-label"></label>
                <input id="NumberOfPeople" asp-for="NumberOfPeople" class="form-control" />
                <span id="NumberOfPeople-error" style="color: red"></span>
                <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="UseTablesAndChairs" asp-for="UseTablesAndChairs" /> @Html.DisplayNameFor(model => model.UseTablesAndChairs)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SecurityService" /> @Html.DisplayNameFor(model => model.SecurityService)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SecurityServiceHours" class="control-label"></label>
                <input asp-for="SecurityServiceHours" class="form-control" />
                <span asp-validation-for="SecurityServiceHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div id="testPrice" class="col-md-4">
        @Model.Price
    </div>
    <div id="refTable" class="col-md-4">
        @Html.Partial("_PartialPrice", Model.Price)
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>


        $(document).ready(function () {
            console.log('ready')

            let currentPrice = @Model.Price;
            //let numberOfPeople = @Model.NumberOfPeople;
            let chairCostPerPerson = @Model.ChairTableCostPerPerson;

            let hallCapacity = @Model.HallCapacity;

            $('#UseTablesAndChairs').change(function () {
                if ($(this).prop('checked')) {

                    let numberOfPeople = $('#NumberOfPeople').val()

                    if (numberOfPeople < 1) {
                        $('#NumberOfPeople-error').text("Please e mark the number of people")
                    }
                    console.log('UseTablesAndChairs checkbox  - checked')
                        currentPrice = currentPrice + (numberOfPeople * chairCostPerPerson);
                        UpdatePriceModelAndPartialView(currentPrice)

                }
                else {
                    console.log('UseTablesAndChairs checkbox  - not checked')

                    currentPrice = @Model.Price;
                    UpdatePriceModelAndPartialView(currentPrice)
                }
            })

            $('#NumberOfPeople').change(function () {
                if ($('#UseTablesAndChairs').prop('checked')) {

                    let numberOfPeople = $('#NumberOfPeople').val()
                   // console.log(numberOfPeople)

                    if (numberOfPeople < 1) {
                        $('#NumberOfPeople-error').text("Please e mark the number of people")
                        return;
                    } else {
                        $('#NumberOfPeople-error').text("")

                    }

                    if (numberOfPeople > hallCapacity) {
                        $('#NumberOfPeople-error').text(`The Hall capacity is ${hallCapacity} people`)
                        return;
                    } else {
                        $('#NumberOfPeople-error').text("")

                    }
                    //console.log('UseTablesAndChairs checkbox  - checked')
                    currentPrice = @Model.Price + (numberOfPeople * chairCostPerPerson);
                    UpdatePriceModelAndPartialView(currentPrice)

                }

            })

    });



        function UpdatePriceModelAndPartialView(price) {

            console.log('price: ' + price)
            $('#PriceInput').val(price)

            $.ajax({
                type: "Post",
                url: "/Events/UpdatePriceView",
                data: {
                    TotalPrice: price,

                },
                success: function (data) {
                    partialViewResult(data)
                },
                error: function (error) {
                    alert('failed');
                }
            })

        }


        function partialViewResult(data) {
           // $('#PriceInput').val(data.TotalPrice);
            $("#refTable").html(data);

        }


</script>
}
