@model SummaryAndPerInfoVM

@{
    ViewData["Title"] = "PersonalInfo";
}

<div class="row">

    <div class="col-md-6">
        <div class="w3-container w3-card-4 w3-round w3-light-grey input-card-panel">
            <h2>Personal information</h2>
            <hr />
            <form asp-action="CreateEvent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Date" type="hidden" />
                <input asp-for="HallId" type="hidden" />
                <input asp-for="RentTime" type="hidden" />
                <input asp-for="EventStart" type="hidden" />
                <input asp-for="EventEnd" type="hidden" />
                <input asp-for="EventTitle" type="hidden" />
                <input asp-for="NumberOfPeople" type="hidden" />
                <input asp-for="UsingTablesAndChairs" type="hidden" />
                <input asp-for="TablesAndChairsCostPerPerson" type="hidden" />
                <input asp-for="SecurityGuardCostPerHour" type="hidden" />
                <input asp-for="ParkingLotSecurityHours" type="hidden" />
                <input asp-for="HallRentalPrice" type="hidden" />
                <input asp-for="TablesAndChairsPrice" type="hidden" />
                <input asp-for="SecurityPrice" type="hidden" />
                <input asp-for="TotalPrice" type="hidden" />
                <input asp-for="SecurityStartTime" type="hidden" />
                <input asp-for="SecurityEndTime" type="hidden" />

                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>Tell us more about the event:</p>
                    <textarea asp-for="EventDescription" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <p>If you are using a caterer, please provide the name and contact information of the company:</p>
                    <textarea asp-for="Caterer" class="form-control"></textarea>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="w3-button w3-border w3-border-blue w3-round" />
                </div>
            </form>
        </div>
    </div>
        <div class="col-md-6 event-side-info">
            <p>Hall: <b>@Model.HallName</b></p>
            <p>Date: <b>@Model.Date.ToShortDateString()</b></p>
            <p>Time: <b>@Model.RentTimeDisplay</b></p>

            <div class="event-side-title-info">
                <p>Event title: @Model.EventTitle</p>
                <p>Event Start: @Model.EventStart</p>
                <p>Event End: @Model.EventEnd</p>
                <p>Number of people: @Model.NumberOfPeople</p>
            </div>

            <div class="price-side-info">
                <p><b>Hall rent price: </b>$@Model.HallRentalPrice.ToString("F")</p>
                <p><b>Tables and chairs price: </b>$@Model.TablesAndChairsPrice.ToString("F")</p>
                @if (Model.SecurityPrice > 0)
                {
                    <p>Parking Lot Security Hours: @Model.ParkingLotSecurityHours</p>
                }
                <p><b>Security Price: </b>$@Model.SecurityPrice.ToString("F")</p>

                <hr />
                <h4><b>Total Price: </b>$@Model.TotalPrice.ToString("F")</h4>
            </div>
        </div>
    </div>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
