@model CalendarViewModel
@{
    ViewData["Title"] = "Calendar";
}
<hr />

<div class="btn-group btn-group-justified">
    @foreach (var item in Model.AllHals)
    {
        <a class="btn btn-default @(Model.CurrentHall.Id == @item.Id ? "active": String.Empty)" href="Calendar?hallId=@item.Id">@item.Name</a>
    }

</div>

<hr />

<h2 id="hall-name" style="text-align: center;">@Model.CurrentHall.Name</h2>
<hr />

<div id="calendar">

</div>

@*@{
        var firstHall = Model.First();
        string hallName = Model.First().Name;

    }*@


<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" />
<link href="~/css/calendar.css" rel="stylesheet" />

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script>


        $(document).ready(function () {

            GenerateView();
        })




        function GenerateView() {
            let hallId = @Model.CurrentHall.Id;
            GetCalendarData(hallId)
        }




        function GetCalendarData(hallId) {

            console.log('aa ' + hallId)
          //  $('#"hall-name').text(hallName)

            $.ajax({
                type: "GET",
                url: "/Calendar/GetEvents",
                data: {
                    HallId: hallId
                },
                success: function (data) {

                    GenerateCalendar(data)
                },
                error: function (error) {
                    alert('failed');
                }
            })

        }

        function GenerateCalendar(events) {
            console.log("ready!");
            console.log(events)

            $('#calender').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                defaultView: 'month',
                header: {
                    left: 'title',
                    center: '',
                    right: 'prev,next'
                },
                weekNumbers: true,
               // editable: true,
                droppable: true,
                eventLimit: true,
                eventColor: 'red',
                events: events

            });

            $('#my-prev-button').click(function () {
                $('#calendar').fullCalendar('prev');
            });
        }
    </script>

}
